* {
  margin: 0;
  padding: 0;
}

.slide-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}

.slide-views {
  display: flex;
}

.slide-item {
  /* flex: 1 0 100%; */
  overflow: hidden;
}

.slide-item > img {
  display: block;
}

/* .slide-item > img {
  width: 100%;
} */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
}
