* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.slide-wrapper {
  display: flex;
  align-items: center;
  background-color: red;
  height: 240px;
}

.container {
  display: flex;
  justify-content: center;
  /* padding: 10; */
}

.slide-wrapper li {
  background-color: silver;
}
